html, body {
    height: 100%;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.header {
    display:flex;
    justify-content: space-between;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 60px 0;
}

.container {
    width: 25%;
    margin: auto;
}

.login-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0;
}

.login-item {
    margin: 15px 0;
}

.gap {
    height: 25px;
}

.load-list {
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}